@include media-breakpoint-up(md) {
  .img-homepage-whey {
    transform: scale(1.15);
  }
}
@include media-breakpoint-up(lg) {
  .homepage-feature-whey {
    margin-top: -16.5%;
  }
  .img-homepage-suppliment {
    margin-top: 0;
    transform: scale(1.65);
  }
  .img-homepage-whey {
    transform: scale(1.25);
  }
}
@include media-breakpoint-up(xl) {
  .homepage-feature-whey {
    margin-top: -16.5%;
  }
  .img-homepage-suppliment {
    margin-top: -10%;
    transform: scale(1.35);
  }
  .img-homepage-whey {
    transform: scale(1.2);
  }
}
