.navbar {
  padding: ($spacer * 2) 0;
  z-index: 10;
  .nav-item {
    .nav-link {
      font-family: $headings-font-family;
      text-transform: uppercase;
    }
  }
  .navbar-moredetails {
    font-size: ($font-size-base * 0.75);
  }
  &.header-navbar {
    &.bg-dark,
    &.bg-transparent {
      .navbar-toggler {
        @extend .btn-outline-light;
      }
      .btn-link {
        color: $light;
      }
    }
    &.bg-light {
      .navbar-toggler {
        @extend .btn-outline-dark;
      }
      .btn-link {
        color: $dark;
      }
    }
  }
}
