body {
}
.bg-gradient-blue-to-dark {
  background: rgb(34, 59, 102);
  background: linear-gradient(90deg, rgba(34, 59, 102, 1) 0%, rgba(23, 30, 54, 1) 100%);
}
.bg-gradient-red-to-blue {
  background: rgb(34, 59, 102);
  background: linear-gradient(260deg, rgba(34, 59, 102, 1) 0%, rgba(241, 64, 65, 1) 100%);
}
.bg-gradient-white-bottom {
  position: relative;
  @include media-breakpoint-up(lg) {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 33%,
      rgba(255, 255, 255, 0) 33%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  > .container {
    position: relative;
  }
  .bg-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    @include media-breakpoint-up(lg) {
      bottom: 33%;
    }
    background-position: 75% 50%;
    @include media-breakpoint-up(lg) {
      background-position: 50% 50%;
    }
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.bg-layer-split {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  .bg-layer-split-image {
    height: 400px;
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: 50%;
      height: 100%;
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  .bg-layer-split-content {
    width: 50%;
    height: 100%;
    background-color: $white;
  }
}
